@media (max-width:992px) {

    /* top-menu start */
    .nav-item {
        padding-right: 0px;
    }

    /* top-menu end */

    /* the-games start */


    /* the-games end */
}

@media (max-width:576px) {

    .container-fluid {
        padding: 4%;
    }

    /* top-menu start */
    #top-menu .container-fluid {
        padding: 0%;
    }

    /* top-menu end */

    /* playnow start */
    .playnow {
        padding-top: 200px;
        padding-bottom: 320px;
    }

    .playnow h1 {
        font-size: 3rem;
        font-family: 'Bebas Neue', cursive;
        line-height: 3rem;
        margin-bottom: 1.5rem;
    }

    .playnow h2 {
        font-size: 2rem;
        font-family: 'Bebas Neue', cursive;
        margin-bottom: 50px;
    }

    .playnow a {
        text-decoration: none;
        color: black;
    }

    /* playnow end */

    /* the-games start */


    /* the-games end */
}