@media (max-width:992px) {
    
    .topmenu {
        margin: 0 auto;
    }

    .the-games-container {
        text-align: center;
        height: 700px;
    }

    .the-game {
        padding-top:200px;
    }

    .games {
        padding-bottom: 100px;
    }

    .the-game-image {
        width: 400px;
    }

    .features-container {
        height: 800px;
    }

    .features-title {
        text-align: center;
    }

    .features-box {
        margin: 0 auto;
        text-align: center;
        width: 100%;
    }

    .golden {
        font-weight: bold;
    }

    .card-header{
        background-color: rgba(0, 0, 0, 0.5);
    }

    .card-body {
        background-color: rgba(0, 0, 0, 0.5);
    }

    .sys-req-h1 {
        padding-top: 80px;
    }

    .system-requirement {
        padding-top: 60px;
    }

    .border-1 {
        padding: 10px;
    }
}

@media (max-width:576px) {
    
    .container-fluid {
        padding:0;
    }
    .topmenu {
        margin: 0 auto;
    }
    
    .playnow {
        padding-top: 200px;
        padding-bottom:520px;
    }

    .playnow h1 {
        font-size: 60px;
        font-family: 'Bebas Neue', cursive;
    }
    
    .playnow h2 {
        font-size: 28px;
        font-family: 'Bebas Neue', cursive;
        margin-bottom: 50px;
    }
    
    .playnow a {
        text-decoration: none;
        color:black;
    }
    
    .the-game {
        padding-top:200px;
    }
    .the-game-image {
        width: 350px;
    }
    
}