/* global-setting start */

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}

h1 {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: bold;
}

a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

.background-style {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;

}

/* global-setting end */

/* top-menu start */
#top-menu {
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0px;
    z-index: 1;
    width: 100%;
}

.container-fluid {
    padding: 0% 7% 0%;
}

.navbar-brand {
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    padding-right: 100px;
}

.nav-item {
    padding-right: 40px;
}

.nav-link {
    text-align: center;
    white-space: nowrap;
}


/* top-menu end */

/* playnow start */

#playnow-section {
    text-align: center;
    color: white;
    background-image: url("../assets/main-bg.jpg");
}

.playnow {
    padding-top: 300px;
    padding-bottom: 420px;
}

.playnow h1 {
    font-size: 5em;
    font-family: 'Bebas Neue', cursive;
}

.playnow h2 {
    font-size: 2em;
    font-family: 'Bebas Neue', cursive;
    margin-bottom: 50px;
}

.playnow a {
    text-decoration: none;
    color: black;
}

.playbutton {
    padding: 0.8em 4em;
    background-color: #d8a200;
    color: black;
    font-weight: bold;
}

/* playnow end */

/* the-games start */
#the-games-section {
    background-image: url("../assets/the-games-bg.jpg");
    color: white;
}

.the-games {
    padding-top: 300px;
    padding-bottom: 300px;
}

.text-title {
    font-size: 1.5em;
    color: white;
}

.text-content {
    font-size: 3.5em;
    color: white;
}

.carousel-indicators>li {
    border-radius: 50%;
    margin: 1px 3px;
    height: 10px;
    max-width: 10px;
    border: 1px solid #FFF;
    background-color: transparent;
}

.carousel-indicators .active {
    background-color: #fff;
    background-color: white;
}

/* the-games end */

/* features start */

#features-section {
    background-image: url("../assets/features.jpg");
    padding-top: 300px;
    padding-bottom: 300px;
}

#accordion {
    background-color: transparent;

}

.golden {
    color: goldenrod;
    font-size: 1.2rem;
    padding-left: 0%;
}

.golden:hover {
    color: gold !important;
    font-size: 1.2rem !important;
}

.features-text {
    padding-left: 5% !important;
}

.card-header {
    padding-left: 5%;
}

.card-style {
    background-color: transparent;
    color: white;

}

/* features end */

/* system-req start */
#system-req-section {
    background-image: url("../assets/requirements.png");
    padding-top: 50px;
    padding-bottom: 250px;
}

.sys-title {
    color: goldenrod;
    font-size: 1.5em;
    font-weight: bold;
}

.sys-desc {
    color: white;
    font-size: 1.2em;
}

.sysreq-header {
    text-align: center;
    color: white;
    font-size: 1.5em;
}

.sysreq-header2 {
    margin-top: 1em;
    font-size: 7em;
    font-family: 'Bebas Neue', cursive;
    color: white;
    line-height: 1em;
}

.table-bordered td{
    border: 1.5px solid rgb(70, 69, 69);
}
/* system-req end */